.container {
    width: 1304px;
    margin: 0 auto;
    outline: solid 2px red;
    margin-top: 0;
}

.header {
    width: 978px;
    margin-right: 0;
}

.hdr_section {
    position: relative;
    background-color: #000000;
}

p {
    margin: 0;
}

ul {
    display: flex;
    margin-top: 0;
    list-style: none;
}

.info_about_project {
    margin-left: 326px;
    gap: 4px;
    padding-left: 0;
    color: #fff;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-bottom: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1304px;
}



.architecture_li {
    padding-left: 34px;

}

.architecture_span {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 9px;
    color: #ffffffb6;
}

.architecture_span_second {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 10px;
}

.heart {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}


.menu_nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    gap: 36px;
}

.nav_link {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.76px;
}

.vantage_studio {
    height: 659px;
    background-image: url(photos/intarier.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
    position: relative;
}

.logo {
    width: 326px;
    height: 136px;
    background-color: #99823D;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logotipe_photo {
    margin-top: 43.5px;
    margin-left: 68px;
    width: 190px;
    height: 49px;
}


.background {
    background-color: #000000;
}

.background_qadrat {
    background-color: #99823D;
    width: 489px;
    height: 329px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form_our_experience {
    width: 584px;
    height: 455px;
    position: absolute;
    bottom: 136px;
    right: 68px;
    background-color: #fff;
}

.form_our_experience span {
    padding-left: 68px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
}

.your_vision {
    color: #141414;
    margin-top: 0;

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 67px;
    padding-left: 68px;
}


.div_for_span {
    padding-bottom: 2px;
    padding-top: 67px;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 17px;
    height: 51px;
    padding-left: 68px;
    display: flex;
    flex-wrap: wrap;
}

.explore {
    cursor: pointer;
    margin-left: 68px;
    margin-right: 17px;
    margin-top: 14.91px;
    width: 216px;
    height: 68px;
    background-color: #99823D;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
}

.lets_chat {
    cursor: pointer;
    width: 216px;
    height: 68px;
    background-color: #141414;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
}


.soc_media {
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 815px;
    height: 68px;
    margin-bottom: 0;
    padding-left: 0;
    gap: 36px;
}

.links_for_soc {
    color: #000000;
    text-decoration: none;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
}

.about_us {
    padding-left: 68px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
}

.for_span_about {
    padding-bottom: 5px;
    padding-top: 135px;
}

.its_our_job {
    font-size: 53px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 68px;
    padding-bottom: 28px;
}

.paragraph_for_our_job {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-bottom: 16px;
    padding-left: 68px;
}

.paragraph_for_our_job_second {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-left: 68px;
    padding-bottom: 64.81px;
}

.ul_for_columns {
    margin-top: 0;
    padding-left: 0;
    gap: 102px;
}

.news {
    word-spacing: 17px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
    padding-right: 17px;
}

.month {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 2.76px;
    font-size: 11px;
}

.info_for_month {
    padding-top: 11px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 26px;
    padding-bottom: 77px;
}

.news_second {
    word-spacing: 17px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
    padding-right: 17px;
}

.month_second {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 2.76px;
    font-size: 11px;
}

.info_for_month_second {
    padding-top: 11px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 26px;
}

.price {
    color: #141414;
    font-size: 59px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.price_the_last {
    color: #141414;
    font-size: 59px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.price::after {
    content: '.';
    padding-left: 58.5px;
    color: #99823D;
}

.info_about_price {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 272.19px;
    margin-bottom: 0;
}

.description {
    padding-top: 14px;
    padding-left: 21px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_second {
    padding-top: 14px;
    padding-left: 17.5px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_third {
    padding-top: 14px;
    padding-left: 27px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_fourth {
    padding-top: 14px;
    padding-left: 38px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_fifth {
    padding-top: 14px;
    padding-left: 27px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.second_section {
    background-color: #EBEBEB;
    margin-bottom: 0;
}

.li_photo_first {
    background-image: url(photos/second_first_photo.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.li_photo_second {
    background-image: url(photos/second_photo_for_ul.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.li_photo_third {
    background-image: url(photos/third_photo_for_ul.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.examples_of_houses {
    margin-top: -136px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.new {
    z-index: 1;
    background-color: #000000;
    width: 103px;
    height: 34px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.72px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.living_room {
    text-transform: capitalize;
    padding-top: 15px;
    padding-left: 119px;
    line-height: 26.1px;
    width: 378px;
    height: 68px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 26px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}

.absolute_for_span {
    position: relative;
}

.background_description {
    width: 206px;
    height: 102px;
    background-color: #99823D;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2.74px;
    line-height: 34px;
    font-size: 11px;
    text-transform: uppercase;
}

.first_line {
    background-color: #fff;
    width: 1px;
    height: 100%;
    margin-left: 103px;
}

.second_line {
    background-color: #ffffff;
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: 204px;
}

.third_line {
    background-color: #ffffff;
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: 306px;
}

/* footer */
/* form {
    width: 1168px;
    padding-top: 70px;
    outline: solid 2px red;
    background-color: rgb(185, 157, 31);
    text-align: center;
    margin: 0 auto;
}

input {
    padding-top: 100px;
    outline: solid 2px green;
} */