.container {
    width: 1304px;
    margin: 0 auto;
    outline: solid 2px red;
    margin-top: 0;
}

.header {
    width: 978px;
    margin-right: 0;
}

.hdr_section {
    position: relative;
    background-color: #000000;
}

p {
    margin: 0;
}

ul {
    display: flex;
    margin-top: 0;
    list-style: none;
}

.info_about_project {
    margin-left: 326px;
    gap: 4px;
    padding-left: 0;
    color: #fff;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-bottom: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1304px;
}



.architecture_li {
    padding-left: 34px;

}

.architecture_span {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 9px;
    color: #ffffffb6;
}

.architecture_span_second {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 10px;
}

.heart {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}


.menu_nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    gap: 36px;
}

.nav_link {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.76px;
}

.vantage_studio {
    height: 659px;
    background-image: url(photos/intarier.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
    position: relative;
}

.logo {
    width: 326px;
    height: 136px;
    background-color: #99823D;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logotipe_photo {
    margin-top: 43.5px;
    margin-left: 68px;
    width: 190px;
    height: 49px;
}


.background {
    background-color: #000000;
}

.background_qadrat {
    background-color: #99823D;
    width: 489px;
    height: 329px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form_our_experience {
    width: 584px;
    height: 455px;
    position: absolute;
    bottom: 136px;
    right: 68px;
    background-color: #fff;
}

.form_our_experience span {
    padding-left: 68px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
}

.your_vision {
    color: #141414;
    margin-top: 0;
    text-transform: capitalize;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 67px;
    padding-left: 68px;
}


.div_for_span {
    padding-bottom: 2px;
    padding-top: 67px;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 17px;
    height: 51px;
    padding-left: 68px;
    display: flex;
    flex-wrap: wrap;
}

.explore {
    cursor: pointer;
    margin-left: 68px;
    margin-right: 17px;
    margin-top: 14.91px;
    width: 216px;
    height: 68px;
    background-color: #99823D;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
}

.lets_chat {
    cursor: pointer;
    width: 216px;
    height: 68px;
    background-color: #141414;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
}


.soc_media {
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 815px;
    height: 68px;
    margin-bottom: 0;
    padding-left: 0;
    gap: 36px;
}

.links_for_soc {
    color: #000000;
    text-decoration: none;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
}

.about_us {
    padding-left: 68px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
}

.for_span_about {
    padding-bottom: 5px;
    padding-top: 135px;
}

.its_our_job {
    font-size: 53px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 68px;
    padding-bottom: 28px;
    text-transform: capitalize;
}

.paragraph_for_our_job {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-bottom: 16px;
    padding-left: 68px;
}

.paragraph_for_our_job_second {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-left: 68px;
    padding-bottom: 64.81px;
}

.ul_for_columns {
    margin-top: 0;
    padding-left: 0;
    gap: 102px;
}

.news {
    word-spacing: 17px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
    padding-right: 17px;
}

.month {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 2.76px;
    font-size: 11px;
}

.info_for_month {
    text-transform: capitalize;
    padding-top: 11px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 26px;
    padding-bottom: 77px;
}

.news_second {
    word-spacing: 17px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.76px;
    padding-right: 17px;
}

.month_second {
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 2.76px;
    font-size: 11px;
}

.info_for_month_second {
    text-transform: capitalize;
    padding-top: 11px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 26px;
}

.price {
    color: #141414;
    font-size: 59px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.price_the_last {
    color: #141414;
    font-size: 59px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.price::after {
    content: '.';
    padding-left: 58.5px;
    color: #99823D;
}

.info_about_price {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 272.19px;
    margin-bottom: 0;
}

.description {
    padding-top: 14px;
    padding-left: 21px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_second {
    padding-top: 14px;
    padding-left: 17.5px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_third {
    padding-top: 14px;
    padding-left: 27px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_fourth {
    padding-top: 14px;
    padding-left: 38px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.description_fifth {
    padding-top: 14px;
    padding-left: 27px;
    font-size: 12px;
    letter-spacing: 2.97px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #99823D;
    text-transform: uppercase;
}

.second_section {
    background-color: #EBEBEB;
    margin-bottom: 0;
}

.li_photo_first {
    background-image: url(photos/second_first_photo.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.li_photo_second {
    background-image: url(photos/second_photo_for_ul.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.li_photo_third {
    background-image: url(photos/third_photo_for_ul.jpg);
    background-repeat: no-repeat;
    width: 411.98px;
    height: 342.3px;
}

.examples_of_houses {
    margin-top: -136px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.new {
    z-index: 1;
    background-color: #000000;
    width: 103px;
    height: 34px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    letter-spacing: 2.72px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.living_room {
    text-transform: capitalize;
    padding-top: 15px;
    padding-left: 119px;
    line-height: 26.1px;
    width: 378px;
    height: 68px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 26px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}

.absolute_for_span {
    position: relative;
}

.background_description {
    width: 206px;
    height: 102px;
    background-color: #99823D;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2.74px;
    line-height: 34px;
    font-size: 11px;
    text-transform: uppercase;
}

.first_line {
    background-color: #fff;
    width: 1px;
    height: 100%;
    margin-left: 103px;
}

.second_line {
    background-color: #ffffff;
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: 204px;
}

.third_line {
    background-color: #ffffff;
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: 306px;
}

.point {
    width: 11px;
    height: 11px;
    background-color: #222;
    margin: 0 auto;
    margin-top: 62.25px;
}

.div_for_point {
    padding-bottom: 64.14px;

}

.services_span {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2.76px;
    color: #99823D;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
}

.architecture_is_not_simple {
    font-size: 53px;
    color: #141414;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.line_and_pen_photo {
    width: 68px;
    height: 68px;
}

.month_and_year {
    color: #99823D;
    letter-spacing: 2.76px;
    font-size: 11px;
    line-height: 16.6px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-left: 17px;
}

.ul_to_make_all_right_position {
    display: flex;
    width: 214px;
    padding-left: 34px;
    margin-top: 34px;
    margin-bottom: 17.83px;
}

.description_width_svg {
    color: #141414;
    font-family: "Teko", sans-serif;
    font-size: 26px;
    line-height: 26.1px;
    padding-top: 11px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 157px;
    padding-left: 17px;
}

.photos_with_svg_and_description {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 89px;
    padding-bottom: 91px;
    margin-bottom: 0;

}

.photos_with_svg_and_description li {
    width: 391.33px;
}

.text_for_deskription_with_svg {
    padding-left: 34px;
    padding-bottom: 31.17px;
}

.see_all {
    font-size: 12px;
    letter-spacing: 2.97px;
    line-height: 17.9px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    width: 392px;
    height: 68px;
    background-color: #99823D;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    margin: 0 auto;

}

.for_button_see_all {
    padding-bottom: 91px;
}

.svg_logos_before_footer {
    width: 154px;
    height: 38px;
}

.ul_of_logos {
    padding-top: 67.95px;
    padding-left: 68px;
    padding-right: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-bottom: 202.77px;
}

.ul_of_logos li {
    position: relative;
}

.before_last_section {
    background-color: #EBEBEB;
}

.the_lust_tiuch {
    position: absolute;
    right: -56.25px;
    top: 9px;
    line-height: 0px;
    color: #99823D;
    font-size: 53px;
    text-transform: capitalize;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.before_last_div_footer {
    position: relative;
}

.background_footer {
    width: 1304px;
    height: 136px;
    position: absolute;
    bottom: 0;
    background-color: #3d3d3d;
}

.background_footer_div {
    padding-top: 68.7px;
    position: relative;
}

.logo_second {
    width: 131px;
    height: 34px;
    margin-top: 68px;
    margin-left: 68px;
}


.footer {
    position: relative;
}

.footer_section {
    background-color: #141414;
    height: 239px;
}

form {
    height: 204px;
    width: 1168px;
    padding-top: 68px;
    background-color: #99823D;
    text-align: center;
    /* margin: 0 auto; */
    position: absolute;
    top: -32px;
    left: 68px;
}

input {
    padding-top: 68.3px;
}

.placeholder {
    width: 860px;
}

/* .label {
    color: #3D3D3D;
} */

::placeholder {
    color: #3d3d3d;
    font-size: 11px;
    letter-spacing: 2.76px;
    margin-bottom: 50px;
    line-height: 34px;
    text-transform: uppercase;
}

.placeholder {
    padding-left: 40px;
    padding-top: 22.805px;
    padding-bottom: 22.805px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.subscribe {
    background-color: #141414;
    width: 155px;
    height: 68px;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: -100px;
}

.menu_nav_footer {
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    gap: 36px;
    padding-left: 68px;
    position: absolute;
    bottom: 47px;
    right: 68px;
}

.nav_link_footer {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.76px;
}